services:
  web:
    environment:
      - DEBUG=True
    volumes:
      - ./backend:/app
    working_dir: /app  
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
